
<div class="mdl-grid">

     <div class="mdl-cell mdl-cell--4-col"></div>
  <div class="mdl-cell mdl-cell--4-col">
<h3> Master Angular2 </h3>
<p> <b>Im'</b> <span> ahmed Rebai</span> , <span> Fullstack javascript developer </span> ,  </p>


<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col">
    <a> <img src="../images/twitter.png"> </a>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
      <a> <img src="../images/linkedin.png"> </a>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
      <a> <img src="../images/github.png"> </a>
  </div>

</div><!--end of mdl gird-->

<iframe src="//giphy.com/embed/vzO0Vc8b2VBLi" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/vzO0Vc8b2VBLi"></a></p>


  </div>
  <div class="mdl-cell mdl-cell--4-col"></div>




</div><!---end of div mdl-grid--->