
<div class="mdl-grid">

     <div class="mdl-cell mdl-cell--4-col">

<div class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <h2 class="mdl-card__title-text">You need to learn Angular 2</h2>
  </div>
  <div class="mdl-card__supporting-text">
   TLDR: Even if you don’t ever plan on using Angular 2 in a production webapp, you should learn it and here’s why.
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="http://blog.ng-book.com/you-need-to-learn-angular-2/">
     Read More
    </a>
    <i class="material-icons">bookmark_border</i> 
  </div>
</div>


     </div><!--end of ocl md4-->


<!-------------------->

   <div class="mdl-cell mdl-cell--4-col">

<div class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <h2 class="mdl-card__title-text">Angular 2 articles</h2>
  </div>
  <div class="mdl-card__supporting-text">
Find all of our high-quality Angular 2 articles that cover tips, tricks and best practices - always up to date!.
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="https://blog.thoughtram.io/categories/angular-2/">
      Read More
    </a>
    <i class="material-icons">bookmark_border</i> 
  </div>
</div>


     </div><!--end of ocl md4-->


<!---------------------->


   <div class="mdl-cell mdl-cell--4-col">

<div class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <h2 class="mdl-card__title-text">Learn JavaScript Series: The 3 best ways to learn Angular 2: A book, a video and a course</h2>
  </div>
  <div class="mdl-card__supporting-text">
  Learn Angular 2 you should. In our last similar post we shared some resources about getting to know AngularJS. This time we are moving forward and offering you a three-item list to start learning Angular 2. A lot of things changed and they are pretty exciting.
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-href="http://blog.debugme.eu/learn-angular2/">
      Read More
    </a>
    <i class="material-icons">bookmark_border</i> 
  </div>
</div>


     </div><!--end of ocl md4-->








</div><!---end of div mdl-grid---->

<hr>
<hr>


<div class="mdl-grid">

     <div class="mdl-cell mdl-cell--4-col">

<div class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <h2 class="mdl-card__title-text">Exploring Real-time Apps with Angular 2</h2>
  </div>
  <div class="mdl-card__supporting-text">
  Adding Real-time with Pusher
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="https://blog.pusher.com/real-time-apps-angular-2/">
     Read More
    </a>
    <i class="material-icons">bookmark_border</i> 
  </div>
</div>


     </div><!--end of ocl md4-->


<!-------------------->

   <div class="mdl-cell mdl-cell--4-col">

<div class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <h2 class="mdl-card__title-text">Angular 2 by Example</h2>
  </div>
  <div class="mdl-card__supporting-text">
The code is hosted on Plunkr, an online code editor similar to CodePen with support for Angular2, TypeScript and folder structures.
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="https://medium.baqend.com/angular-2-by-example-e85a09fa6480#.f4yyep555">
      Read More
    </a>
    <i class="material-icons">bookmark_border</i> 
  </div>
</div>


     </div><!--end of ocl md4-->


<!---------------------->


   <div class="mdl-cell mdl-cell--4-col">

<div class="demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <h2 class="mdl-card__title-text">Yakov Fain's Bloge</h2>
  </div>
  <div class="mdl-card__supporting-text">
  Angular 2: What’s with the name?
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-href="https://yakovfain.com/category/angular2/">
      Read More
    </a>
    <i class="material-icons">bookmark_border</i> 
  </div>
</div>


     </div><!--end of ocl md4-->








</div><!---end of div mdl-grid--->